.list-overflow-container {
    max-height: 85vh;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-overflow-container ul {
    margin: 0;
}